<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Taller de sistemas distribuidos</title>

    <link href="css/bootstrap.css" rel="stylesheet">
    <link href="css/cover.css" rel="stylesheet">

    <!-- Libreria utilizada para la conexion del Socket.io -->
    <script src="socket.io/socket.io.js"></script>
    <!-- Librerias necesarias para el funcionamiento de la página -->
    <script type="text/javascript" src="js/jquery.js"></script>
    <script type="text/javascript" src="js/bootstrap.js"></script>
    <script type="text/javascript" src="function/index.js"></script>

  </head>

  <body>

    <div class="site-wrapper">

      <div class="site-wrapper-inner">
      
        <div class="cover-container">

          <div class="masthead clearfix">
            <div class="inner">
              <h3 class="masthead-brand"> </h3>
              <ul class="nav masthead-nav">
                <li class="active"><a href="/">Lab 2</a></li>
              </ul>
            </div>
          </div>

          <div class="inner cover">
            <h1 class="h1-title cover-heading">Laboratorio 2 Sistemas Distribuidos</h1>
            
            <div class="chat-text" id="chat">
            </div>

            <div class="btn-group" role="group">
              
                 <li id="Arreglo"><a href="http://localhost:8080/arreglo">Arreglo</a></li>
		<li id="Ruby"><a href="http://192.168.43.138:3000">Ruby</a></li>
		<li id="Python"><a href="http://localhost:7000">Python</a></li>
		<li id="Golang"><a href="http://192.168.43.144:8000">Golang</a></li>
		 <li id="Receptor"><a href="http://localhost:7500">Receptor</a></li>
            </div>

          </div>

        </div>

      </div>

    </div>

  </body>
</html>
